@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.container {
  max-width: 311px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
}

.main {
  zoom: 1.587;
}

.main__wrapper {
  height: 553px;
  background: url("../images/bg.jpg") center/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 202px;
  width: 100%;
  margin-bottom: 15px;
}

.main__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.main__line {
  width: 1px;
  height: 20.5px;
  margin-bottom: 10px;
}

.main__title {
  line-height: 23px;
  font-size: 15px;
  line-height: 1.55;
  font-weight: 400;
  text-align: center;
}

.main__title strong {
  font-weight: 700;
}

.main__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 0 3px 30px 3px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.main__name {
  text-align: center;
  font-weight: 400;
  line-height: 16px;
  font-size: 10px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding-right: 3px;
  margin-bottom: 20px;
}

.main__name span {
  line-height: 25px;
  font-size: 16px;
}

.main__utm {
  font-size: 12px;
  line-height: 19px;
  font-weight: 400;
  border: 1px solid #fff;
  padding: 3px;
  width: 100%;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.main__utm strong {
  font-weight: 700;
}

.main__telegram {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 100%;
}

.main__telegram-text {
  color: #fff;
  font-size: 8px;
  line-height: 12px;
  text-align: right;
}

.main__telegram-button {
  background: -webkit-gradient(linear, left top, right top, color-stop(21%, #e4ce96), to(#a87e41));
  background: linear-gradient(128deg, #eecf93 15.18%, #b77e3a 74.22%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 10px;
  height: 33px;
  width: 100%;
  font-size: 10px;
  font-weight: 700;
  color: #000;
  border-radius:6px;
  border: 1px solid rgba(156, 153, 153, 0.6);
}




@media (max-width: 460px) {
  .main__telegram {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main__telegram-button {  
    height: 35px;
  }

  .main__telegram-text {
    text-align: center;
  }
}

*:active,
*:focus,
*:focus-within,
*:target,
*:hover,
*:visited,
*:focus-visible {
  outline: none !important;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  outline: none;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  position: relative;
  color: #fff;
  min-width: 303px;
  font-size: 18px;
  background: #000;
  animation: ani 2s forwards; 
}

@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

ol,
ul {
  list-style: none;
}

label,
button {
  cursor: pointer;
}

b {
  font-weight: 700;
}

q::before {
  content: open-quote;
}

q::after {
  content: close-quote;
}

q {
  quotes: "«" "»";
}

/*# sourceMappingURL=style.css.map */

